body {
    line-height: 1.3;
}


/* Header */
header {
    justify-content: space-between;
    padding: 3%;
    background-color: rgb(71 107 117);
    color: #fff;
    text-align: center;
}

/* Links in Header */
nav {
    display:flex;
}

nav ul {
    display: inherit;
    justify-content: space-between;
    min-width: 250px;
}

  
nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/* Banner below the header */
.banner {
    height: 300px;
    flex: 100%;
    margin-bottom: 25px;
    background-image: url(../images/jakob-rosen-R3Kt-VGPwUI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex
    
}

main {
    max-width: 1400px;
    margin: 2% auto;
}

/* Aside content titles */
aside {
    flex:25%;
    padding-right: 35px;
    padding-top: 25px;
    flex-wrap: wrap;
    
}

aside h4 {
    border-right: 5px solid rgb(12, 83, 150);
    padding-right: 20px;
    font-size: 150%;
    text-align: right;
    color: rgb(12, 83, 150);
}

.about-me {
    display: flex;
}

.about-me .text {
    width: 75%;
}



/* Main Content */


article {
    padding-bottom: 50px;
    font-size: 16px;
}
  
article p {
    margin: 2% 0;
    font-size: 110%;
}
  
article ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}


/* Project blocks */
.projects {
    display: flex;
    padding-bottom: 50px;  
}

.projects-content {
    flex: 75%;
    display: flex;
    flex-wrap: wrap;
}

.text-block {
    position: absolute;
    bottom: 44px;
    left: 0px;
    background-color: rgb(71 107 117);
    color: rgb(180 224 255);
    padding-left: 6px;
    padding-right: 6px;
    
}


.one {
    border: 15px solid rgb(71 107 117);
    width: 98%;
    margin: 1%;
    height: 360px;
    position: relative;
}

.one img {
    width: 100%;
    display: block; 
    height:100%;
    opacity:0.5;
    filter:alpha(opacity=50);   
}

.one img:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.card {
    border: 15px solid rgb(71 107 117);
    width: 48%;
    margin: 1%;
    height: 250.14px;
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    height: 100%;
    opacity:0.5;
    filter:alpha(opacity=50);    
}

.card img:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}

/* Contact Area */
.contact {
    display: flex;
    
}


.contact ul {
    display: flex;
    justify-content: space-between;
    min-width: 195px;
    align-items: center;
    flex:75%;
    padding: 1%;
}


 /*Footer  */
footer {
    padding: 20px;
    text-align: center;
    background: rgb(71 107 117);
    color: #fff;
}
  
@media screen and (min-width: 769px) {
    header {
        display: flex;
    }
}



@media screen and (max-width: 768px) {
    main, nav, header, ul {
      flex-direction: column;
    }
      
}

@media screen and (max-width: 1262px) {
.projects-content .card {
    flex: 1 0 40%;
    }
}

@media screen and (max-width: 1262px) {
    .projects-content .one {
        flex: 1 0 70%;
        }
    }

